@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-image: url('../bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
}

.box {
    border-radius: 5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: grey;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.btn {
    margin-bottom: 3%;
    font-size: x-large;
    font-family: "Josefin Sans", sans-serif;
}